
.foods {
    display: flex;
    justify-content: flex-end;
    
  }
  
  .recipe-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
  }
  
  .recipe-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  
  .recipe-content {
    padding: 20px;
  }
  
  .recipe-title {
    margin-top: 0;
  }
  
  .recipe-image {
    width: 100%;
    height: 350px;
  }

  @media screen and (max-width: 780px) {
    .foods{
        display: block;
    }
    .recipe-list {
        grid-template-columns: repeat(2, 1fr); /* Two columns for smaller screens */
      }
  }
  